node_modules/
metadata/
coverage/
deployments/
cache/
typechain/
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/
artifacts/
build/
dist/
lib/
.env
coverage.json
*.env
*.log
*.tsbuildinfo
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*